# {{ sv.schema.name }} Profile

## Crate Contents

File Name | Description
--- | ---
{% for file_of_interest in ["ro-crate-metadata.json", "shapes.ttl", "mode.json", "linkml.yml", "index.html", "vocabulary/"] %}
[`{{ file_of_interest }}`](/{{ file_of_interest }}) | {{ graph | file_description(file_of_interest) }}
{% endfor %}

## Profile Definition

{{ sv.schema.description | mandatory("A LinkML schema must have a `description` field to be converted to an RO-Crate Profile") }}

{% for cname, cls in sv.all_classes(imports=False).items() %}

### {{ cname }}

{{ cls | description }}

Name | Description | Range
--- | --- | ---
{% for sname in sv.class_slots(cls.name, imports=True) %}
{% set slot = sv.induced_slot(slot_name=sname, class_name=cname) %}
`{{ sname }}` | {{ slot | description | remove_newlines }} | `{{ slot.range }}`
{% endfor %}
{% endfor %}
