# Class: {{ cls.name }}

{{ cls | description }}

## Slots

Name | Description | Range
--- | --- | ---
{% for sname in sv.class_slots(cls.name, imports=True) %}
{% set slot = sv.induced_slot(slot_name=sname, class_name=cname) %}
`{{ sname }}` | {{ slot | description | remove_newlines }} | `{{ slot.range }}`
{% endfor %}
