# {{ sv.schema.name }} Vocabulary

## Types

Name | URI | Description
--- | --- | ---
{# We explicitly skip imports as they are not part of the vocabulary, although they are part of the profile #}
{% for cname, cls in sv.all_classes(imports=False).items() %}
`{{ cname }}` | {{ cls.uri | mandatory("All classes must have a URI in order to generate a vocabulary") }} | {{ cls | description }} 
{% endfor %}

## Properties

Name | URI | Description
--- | --- | ---
{% for sname, slot in sv.all_slots(attributes=True, imports=False).items() %}
`{{ sname }}` | {{ slot.uri || mandatory("All slots must have a URI in order to generate a vocabulary") }} | {{ slot | description }}
{% endfor %}
